@import 'normalize';
$blue: #0D377D;
$red: #CD2323;
$black: #000000;
$last-item-width: 15vw;
$general-padding: 3vw;
body {
	margin: 0;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 12px;
}
section {
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: white;
	width: 100vw;
}
.flex-row{
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.source-headline-wrap{
	display: flex;
	align-items: center;
}
.dash {
	position: relative;
	display: block;
	width: 2px;
	height: 50px;
	transform: skew(-10deg);
	background-color: rgba(255,255,255,.6);
	margin-left: $general-padding;
}
a {color: white;}
h1 {

	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1;
	margin: 0;
}
div {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1;
}
p {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1;
	text-align: right;
	padding: 0;
	margin: 0;
}
q{
	font-size: 18px;
	padding-top: 3vw;
	padding-bottom: 3vw;
	&:after, &:before {
		content: '';
	}
}
img {
	max-width: 100%;
}
.last-item {
	width: $last-item-width;
	flex-shrink: 0;
}
.mid-section {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: $general-padding;
	padding-right: $general-padding;

}
.date {
	position: absolute;
	bottom: $general-padding;
	right: $last-item-width + $general-padding;
}
#leftRow {
	background-color: $blue;
}
#middleRow {
	background-color: $black;
	h1 {
		font-weight: 500;
		flex-grow: 1;
		text-align: center;
		padding-left: $general-padding;
		padding-right: $general-padding;
	}
}
#rightRow {
	background-color: $red;
}

.source {
	font-weight: bold; 
	text-align: left;
	padding-left: $general-padding;
	align-items: center;
	display: flex;
	// max-width: 200px;
}

@media only screen and (min-width : 768px) {
	q{
		font-size: 24px;
	}
	h1 {
		font-size: 36px;
	}
	p {
		font-size: 16px;
	}
	.dash:after {
		height: 60px;
		top: -6px;
	}
	.last-item {
		width: 10vw;
	}
	.date {
		right: 13vw; 
	}
}
